<a href="https://colab.research.google.com/github/CassianoLanger/Python/blob/main/python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**if / else / elif**

In [3]:
comando = False

if comando == True:
  print("verdadeiro")
else:
  print("falso")

falso

In [5]:
codigo_de_seguranca = '159'
codigo_cadastrado = '896'

if codigo_de_seguranca == codigo_cadastrado:
  print("Pode comprar")
else:
  print("Erro: codigo de segurança inválido")

Erro: codigo de segurança inválido

In [7]:
senha = '12345'
senha_cadastrada = '147852'

if (senha == senha_cadastrada) & (codigo_cadastrado == codigo_de_seguranca):
  print('compra autorizada')
else:
  print('Erro: dados invalidos')

Erro: dados invalidos

In [10]:
senha = '147852'
senha_cadastrada = '147852'

codigo_de_seguranca = '159'
codigo_cadastrado = '896'

if (senha != senha_cadastrada) | (codigo_cadastrado != codigo_de_seguranca):
  print('Erro: dados invalidos')
else:
  print('compra autorizada')

Erro: dados invalidos

In [12]:
senha = '147852'
senha_cadastrada = '147852'

codigo_de_seguranca = '159'
codigo_cadastrado = '896'

if(senha == senha_cadastrada) & (codigo_cadastrado == codigo_de_seguranca):
  print('pagamento efetuado')
elif(senha != senha_cadastrada) & (codigo_de_seguranca == codigo_cadastrado):
  print('senha invalida')
else:
  print('codigo invalido')

codigo invalido

**Try / except / finally**

In [14]:
preco = 132.85
pessoas = 0

try:
   valor_por_pessoa = preco / pessoas
   print(valor_por_pessoa)
except ZeroDivisionError:
    print("Numero de pessoas invalido. Espera-se valor superior a zero e obteve-se:" + str(pessoas))

Numero de pessoas invalido. Espera-se valor superior a zero e obteve-se:0

In [18]:
anos = [2010, 2015, 2022]

try:
  ano_atual = anos[3]
  print(ano_atual)
except Exception as exc:
  print("Descrição da exceção: " + str(exc))
  print("Tipo de erro" + str(type(exc)))
  print("valor a ser escolhido deve ser entre 0 e " + str(len(anos)-1))

Descrição da exceção: list index out of range
Tipo de erro<class 'IndexError'>
valor a ser escolhido deve ser entre 0 e 2

sempre tratar erro principal e depois o genérico

In [19]:
anos = [2010, 2015, 2022]

try:
  ano_atual = anos[3]
  print(ano_atual)

except IndexError:
  print("valor a ser escolhido deve ser entre 0 e " + str(len(anos)-1))

except Exception as exc:
  print("Descrição da exceção: " + str(exc))
  print("Tipo de erro" + str(type(exc)))

valor a ser escolhido deve ser entre 0 e 2

In [26]:
nome = "carlos"
idade = 28

try:
  apresentacao = "ola, meu nome é " +nome+ "e tenho" + idade + " anos"
  print("ola, meu nome é " +nome+ "e tenho" + idade + "anos")
except TypeError:
  idade = str(idade)
finally:
  print("segunda chance")
  apresentacao = "ola, meu nome é " +nome+ "e tenho " + idade + " anos"
  print(apresentacao)

segunda chance
ola, meu nome é carlose tenho 28 anos

**For / In / Range**

In [27]:
 for valor in range(6):
   print(valor)

0
1
2
3
4
5

In [30]:
soma = 0
for valor in range(0,10):
  soma += valor
  print(soma)

0
1
3
6
10
15
21
28
36
45

In [32]:
for multiplos_dois in range (2,11,2):
  print(multiplos_dois)

2
4
6
8
10

In [33]:
frutas = ['maça','banana','manga','uva']
for fruta in frutas:
  print(fruta)

maça
banana
manga
uva

In [4]:
frase = "Fala pessoal, meu nome é André"

for caracter in frase:
  if (caracter == "A") | (caracter == "z"):
    print(f"É a letra {caracter}")

É a letra A

In [5]:
credito = {'123': 950 , '456': 740 , '789': 655}

for chave,valor in credito.items():
  print(f"cpf: {chave} e score: {valor}")
  print("\n")

cpf: 123 e score: 950


cpf: 456 e score: 740


cpf: 789 e score: 655

In [21]:
credito = {'123': 950 , '456': 740 , '789': 655}
for chave in credito.keys():
  print(chave)
  print(credito[chave])
  print(f'chave: {chave} e valor: {credito[chave]}')
  print('\n')

123
950
chave: 123 e valor: 950


456
740
chave: 456 e valor: 740


789
655
chave: 789 e valor: 655

In [23]:
for valor in credito.values():
  print(valor)
  print(f'valor: {valor}, mas perdemos as referencias das chaves :(' )
  print('\n')

950
valor: 950, mas perdemos as referencias das chaves :(


740
valor: 740, mas perdemos as referencias das chaves :(


655
valor: 655, mas perdemos as referencias das chaves :(

In [24]:
for i in range(0, 100000000000000000000):
  print(i)
  if i == 10:
    break

0
1
2
3
4
5
6
7
8
9
10

In [27]:
numeros = [357, 777 ,122, 958 , 666 , 656 ,131 , 177]

for numero in numeros:
  if numero % 2 == 0:
    print(f'o {numero} é par')
    break
  else:
    print(f'o {numero} numero é impar')

o 357 numero é impar
o 777 numero é impar
o 122 é par

In [28]:
numeros = [357, 777 ,122, 958 , 666 , 656 ,131 , 177]
for numero in numeros:
  if numero % 2 == 0:
    print(f'o {numero} é par')
    break
  else:
    continue
    print(f'o {numero} numero é impar')

o 122 é par